<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
   
    <virtualType name="DibsFlexWin" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Dibs\Flexwin\Model\ConfigProvider::METHOD_CODE</argument>
            <argument name="valueHandlerPool" xsi:type="object">DibsFlexwinValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">DibsFlexwinValidatorPool</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Dibs\Flexwin\Block\Info</argument>
        </arguments>
    </virtualType>
    <virtualType name="DibsFlexwinConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dibs\Flexwin\Model\ConfigProvider::METHOD_CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="DibsFlexwinConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">DibsFlexwinConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="DibsFlexwinValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DibsFlexwinConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DibsflexwinValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DibsflexwinConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">DibsFlexwinConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="DibsFlexwinGlobalValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">CountryValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DibsFlexwinValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="global" xsi:type="string">DibsFlexwinGlobalValidator</item>
            </argument>
        </arguments>
    </virtualType>
</config>