<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_place_start">
        <observer name="Dibs_Fexwin_Sales_Order_Payment_Place_Start"
                  instance="Dibs\Flexwin\Observer\paymentPlaceStart"/>
    </event>
    <event name="payment_method_is_active">
        <observer name="Dibs_Fexwin_Availability_Validate"
                  instance="Dibs\Flexwin\Observer\availabilityValidator"/>
    </event>
    <event name="sales_order_payment_capture">
        <observer name="Dibs_Fexwin_Order_Capture"
                  instance="Dibs\Flexwin\Observer\captureOrder"/>
    </event>
     <event name="sales_order_creditmemo_refund">
        <observer name="Dibs_Fexwin_Creditmemo_Refund"
                  instance="Dibs\Flexwin\Observer\creditmemoRefund"/>
    </event>
 </config>